<a href="https://colab.research.google.com/github/Ruthuja-Gaikwad/T-SRU/blob/main/Training_13_05_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
l=list(map(int,input().split()))
s=0
for i in range(0,len(l)):
  if (i)%2==1:
    if l[i]%2==0:
      print(l[i])
      s+=l[i]
print(s)

1 2 3 4 5 6 7 8
2
4
6
8
20

In [ ]:
l=list(map(int,input().split()))
i,j=0,1
c=0
while j<len(l):
  if l[i]<l[j]:
    i+=1
    j+=1
    c+=1
  else:
    j+=1
print(c)

2 3 4 3 2 3 5 4 2
4

In [ ]:
n=int(input())
l=list(map(int,input().split()))
s=c=0
for i in l:
  if i>0:
    s+=i
  else:
    if s>0:
      s-=1
    else:
      c+=1
print(c)

8
1 -1 1 -1 -1 1 1 1
1

In [ ]:
n=int(input())
v=list(map(int,input().split()))
a=list(map(int,input().split()))
t = {value: 0 for value in v}
i=j=0
while i<len(v) and j<len(a):
  if a[j]>=18:
    t[v[i]] +=1
  i+=1
  j+=1
print(t)
c=0
for i,j in t.items():
  if j==max(t.values()):
    c+=1
if c>1:
  print(-1)
else:
  print(max(t.values()))

5
1 2 3 1 2
17 21 20 19 16
{1: 1, 2: 1, 3: 1}
-1

In [ ]:
n=int(input())
a=bin(n)
if a[-1]=='1':
  print("odd")
else:
  print("even")

78
even

In [ ]:
a,b = map(int,input().split())
a=a^b
b=a^b
a=a^b
print(a,b)

7 5
5 7

In [ ]:
n=int(input())
if 1&n==0:
  print("even")
else:
  print("odd")

78
even

In [ ]:
l=[1,2,3,4,5,6]
for i in l:
  l.remove(i)
print(l)

[2, 4, 6]

In [ ]:
#we can extend a single number in the list

In [ ]:
l=[1,2,3,4,5,6]
l.extend([1,2,3])
l.append([1,2,3,4])
l.extend(1)#error
l.extend([1])# no error
print(len(l))

11

In [ ]:
#1^2^3^3...etc
#duplicates,missing,a^a=0
#a^0=a,a^1=n-1
n=int(input())
if n%4==1:
  print(1)
elif n%4==2:
  print(n+1)
elif n%4==3:
  print(0)
else:
  print(n)
# l to r xor
# 0 to r xor - 0 to l

6

In [ ]:
print(2^4)

6

In [ ]:
def fun(n,k):
  if n==0:
    return
  print(k-(n-1))
  fun(n-1,k)
fun(5,5)
def fun(n):
  if n==1:
    return
  print(n-1)
  fun(n-1)
fun(5)

1
2
3
4
5
4
3
2
1

**Recursions**

In [ ]:
def fun(n,l,h):
  if n==0:
    return
  if h>=n:
    print(h-(n-1))
  fun(n-1,l,h)
  if l<=n:
    print(l+(n-1))
fun(5,1,5)

1
2
3
4
5
1
2
3
4
5

In [ ]:
def fun(n,l,h):
  if n==0:
    return
  if h>=n:
    print(h-(n-1))
  fun(n-1,l,h)
  if l<n:
    print(h-(n-1))
fun(5,1,5)

1
2
3
4
5
4
3
2
1

In [ ]:
def fun(n):
  if n==0:
    return 200
  print(n,end=" ")
  fun(n-1)
print(fun(5))

5 4 3 2 1 None

In [ ]:
def fun(n):
  if n==0:
    return 200
  print(n,end=" ")
  t=fun(n-1)
  return t
print(fun(5))

5 4 3 2 1 200

In [ ]:
def fun(n):
  if n==0:
    return
  if n%2==1:
    print(n,end=" ")
  fun(n-1)
  if n==1:
    return
  if n%2==1:
    print(n,end=" ")

fun(5)

5 3 1 3 5

In [ ]:
def fun(n):
  if n==0:
    return
  fun(n-1)
  print(n,end=' ')
fun(10)

1 2 3 4 5 6 7 8 9 10

In [ ]:
def fun(n):
  if n==0:
    return
  fun(n-1)
  if n%2==1:
    print(n,end=' ')
fun(100)

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [ ]:
def fun(n):
  if n==0:
    return
  fun(n-1)
  if n%2==0:
    print(n,end=' ')
fun(100)

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
def fun(n):
  if n==1:
    return 1
  result = n * fun(n-1)
  print(result,end=' ')
  return result
fun(5)

2 6 24 120

120

In [ ]:
def prime(n, i=2):
  if n < 2:
    return False
  if i >= n**1/2:
    return True
  if n % i == 0:
    return False
  return prime(n, i + 1);
if prime(7):
  print("is a prime number")
else:
  print("is not a prime number")

is a prime number

In [ ]:
def fact(n,a=0,b=1):
  if n==0:
    return
  c=a+b
  print(c)
  fact(n-1,b,c)
fact(5)

1
2
3
5
8

In [ ]:
def fun(n):
  if n==1:
    return 0
  elif n%2==0:
    return 1+fun(n//2)
  else:
    return 1+min(fun(n-1),fun(n+1))
n=15
print(fun(n))

5

In [ ]:
def summ(l,i=0):
  if i==len(l):
    return 0
  return l[i]+summ(l,i+1)
l=[1,2,3,4,5,6]
print(summ(l))

21

In [ ]:
#sum of prime number in a list using recurssion
def is_prime(n, i=2):
    if n <= 1:
        return False
    if i * i > n:
        return True
    if n % i == 0:
        return False
    return is_prime(n, i + 1)

def fun(l,i=0):
  if i==len(l):
    return 0
  if is_prime(l[i]):
    return 1+fun(l,i+1)
  else:
    return fun(l,i+1)
n=[1,2,3,4,5,6,7,8,9]
print(fun(n))

4